.dispense-area-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.dispense-area {
	width: 80%;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	border-radius: 3px;
	margin-top: 10px;
}

.dispense-window {
	width: 50%;
	height: 60px;
	background-color: white;
	border-radius: 3px;
}

.dispense-window .drink-image {
	width: 55px;
	display: inline;
	margin-top: -20px;
	transform: rotate(90deg);
	cursor: pointer;
}