.dispense-area {
	width: 80%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	border-radius: 20px;
	margin-right: auto;
    margin-left: auto;
	margin-top: 10px;
}

.dispense-window {
	position: absolute;
	width: 50%;
	height: 80px;
	background-color: white;
	border-radius: 15px;
}

.dispense-window .drink-image {
	width: 55px;
	display: inline;
	transform: rotate(90deg);
	cursor: pointer;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.dispense-window .dispensed-drink.fade-in {
	animation: fadeIn 2s forwards;
}